// IMPORTS

@import "../variables.scss";

// ABOUT STYLES

@keyframes hiddenPlay {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.about{
    width: 100%;
    min-height: 100vh;
    position: relative;
    &::before{
        content: "ABOUT";
        font-size: 15rem;
        text-shadow: 3px 2px 3px $secondColor;
        color: $baseColor;
        position: absolute;
        opacity: 0.5;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}

.about__content{
    min-height: 100vh;
    padding-bottom: 50px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
}

.about__content-title{
    padding-top: 2rem;
    font-size: 2rem;
    color: $baseColor;
    text-shadow: $stroke;
}

.about__content-text{
    width: 400px;
    height: 90vh;
    font-size: 1.2rem;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    ul{
        list-style: none;
    }
}