// IMPORTS

@import "./variables.scss";

// ABOUT STYLES

.about{
    width: 100%;
    min-height: 100vh;
    position: relative;
    &::before{
        content: "ABOUT";
        font-size: 15rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        opacity: 0.5;
        color: $baseColor;
        text-shadow: 3px 2px 3px $secondColor;
    }
}

.about__content{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
}

.about__content-title{
    padding-top: 2rem;
    font-size: 2rem;
    color: $baseColor;
    text-shadow: $stroke;
}

.about__content-text{
    width: 400px;
    height: 90vh;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.2rem;
    ul{
        list-style: none;
    }
}