// IMPORTS

@import "../variables.scss";
@import "../animations/appearText.scss";

// JUMBO STYLES

.jumbotron{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.jumbotron__title{
    color: $baseColor;
    margin-left: 3rem;
    transition: opacity .3s ease;
}

.jumbotron__title-name{
    font-size: 4rem;
    text-shadow: $stroke;
    opacity: 0;
    animation: appearText .3s ease forwards;
}

.jumbotron__title-info{
    font-size: 2rem;
    text-shadow: $stroke;
    opacity: 0;
    animation: appearText .3s .3s ease forwards;
}