// IMPORTS

@import "../variables.scss";

// JUMBO ANIMATIONS

@keyframes appearText{
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

// JUMBO STYLES

.jumbotron{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}


.jumbotron__title{
    margin-left: 3rem;
    color: $baseColor;
}

.jumbotron__title-name{
    font-size: 4rem;
    text-shadow: $stroke;
    opacity: 0;
    animation: appearText .3s ease forwards;
}

.jumbotron__title-seniority{
    font-size: 2rem;
    text-shadow: $stroke;
    opacity: 0;
    animation: appearText .3s .3s ease forwards;
}