// IMPORTS

@import "./variables.scss";

// PROJECTS STYLES

.projects{
    width: 100%;
    min-height: 100vh;
    position: relative;
    &::before{
        content: "PROJECTS";
        font-size: 15rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        opacity: 0.5;
        color: $baseColor;
        text-shadow: 3px 2px 3px $secondColor;
    }
}