// IMPORTS

@import "./variables.scss";

// ANIMATIONS

@keyframes displayIn {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

// SKILL SET STYLES

.skillSet{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &::after{
        content: "SKILLS";
        font-size: 15rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.5;
        color: $baseColor;
        text-shadow: 3px 2px 3px $secondColor;
    }
}

.skillSet__box-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    li{
        text-align: center;
        transition: .2s ease;
        &:hover  .skilSet__box-list__content{
            color: $secondColor;
            opacity: 1;
        }

        &:hover .skillSet__box-list__title{
            color: $secondColor;
            text-shadow: none;
        }

        &:hover .skillSet__box-list__title::after{
            animation: displayIn .5s ease forwards;
        }

        &:hover{
            transform: translateY(-20px);
        }
    }
}

.skillSet__box-list__title{
    font-size: 2rem;
    color: $baseColor;
    text-shadow: $stroke;
    position: relative;
    transition: .4s ease-in-out;
    &::after{
        content: '';
        width: 100%;
        height: 2px;
        display: block;
        background-color: $secondColor;
        transform: scale(0);
        margin: auto;
    }
}

.skilSet__box-list__content{
    width: 130px;
    margin: auto;
    margin-top: 5px;
    opacity: 0;
    transition: opacity .3s ease-in;
}