@import "../styles/variables.scss";
@import "../styles/animations/hiddenPlay.scss";

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html{
    font-family: 'Rubik', sans-serif;
}

ul{
    padding-left: 0;
}
h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}
// SPECIAL CLASS
.hidden-text{
    position: absolute;
    font-size: 4rem;
    animation: hiddenPlay 3s ease infinite;
    color: $baseColor;
    text-shadow: 3px 2px 3px $secondColor;
    z-index: -2;
    opacity: 0.5;
}
